/* for floating navbar */
body {
	padding-top: 3.5rem;
}

#protosort {
	display: hidden;
}

.protocol:target {
	/* mark color */
	background-color: #fcf8e3;
}

.protocol dt {
	font-weight: lighter;
}
.protocol dt:after {
	content: ":";
}

.filter-feature {
	display: hidden;
}
