#protosort {
	text-align: right;
	display: hidden;
}

.protocol:target {
	/* mark color */
	background-color: #fcf8e3;
}

.protocol dt {
	font-weight: lighter;
}
.protocol dt:after {
	content: ":";
}

.protocol .related ul {
	list-style-type: none;
	margin: 0;
	padding 0;
}
.protocol .related li {
	display: inline;
	margin: 0;
	margin-right: 1em;
	padding 0;
}
